body{
    margin: 0;
    padding: 0;
    background-color: lightgrey;
    font-family: sans-serif;
}

#home-container{
    display:flex;
}

#feed-posts{
    width:70%;
    padding:10px;
}

#user-friends{
    width:30%;
    height:100vh;
    padding:10px;
    border-left:2px solid gray;
}